
<html>
    <head>
      <title>Home Page</title>
    </head>
    <body>
        <table border='1' cellpadding="10">
       
  
        <tbody>
          <tr>
            <th>
              <div>
                <ul>
                  <li><a href="/home">Home</a></li> 
                  <li><a href="/addNewBook">Add new book</a></li>
                  <li><a href="/DeleteABook">Delete book</a></li>
                </ul>
              </div>
            </th>
          </tr>
        </tbody>
  
      </table>
  
  </body>
  </html>
Data was saved